.player-element {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;

  .player-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  div {
    font-size: 45px;
    border-radius: 50%;
  }
  span {
    font-size: 12px;
    white-space: nowrap;
    color: #fff;
  }
}