.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .circle {
    width: 180px;
    height: 180px;
    background-color: #1A1818;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-circle {
    width: 140px;
    height: 140px;
    background-color: #1D1D1D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 40px rgba(0,0,0,0.4));
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: transparent;
  }
}