.empty-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 50px;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}